// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
// SPDX-License-Identifier: LGPL-2.1-or-later

/* Typography Styles */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

h1 {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-size: 3.4375rem; /* 55px */
  line-height: 1.2;
}

h2 {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-size: 2.125rem; /* 34px */
  line-height: 1.2;
}

h4 {
  font-family: "Noto Sans Mono", monospace;
  font-weight: 500;
  font-size: 1.3125rem; /* 21px */
  line-height: 1.2;
}

h6 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem; /* 16px */
  line-height: 1.2;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400; /* Regular */
  font-size: 1rem; /* 16px */
  line-height: 1.2;
}

/* Home Page Styles */

#home {
  .container {
    max-width: 1500px;
  }

  .btn-primary {
    color: white;
  }

  .feature,
  .hosted-green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .feature > div,
  .hosted-green > div {
    padding: 20px;
  }
  .feature > div:first-child {
    flex-basis: 75%;
  }

  .feature > div:last-child {
    flex-basis: 25%;
  }

  .feature > div.party {
    flex-basis: 75%;
  }

  .hosted-green > div:first-child {
    flex-basis: 35%;
  }

  @media (min-width: 800px) {
    .feature,
    .hosted-green {
      flex-direction: row;
    }
    .feature:nth-child(2n + 1) > div:first-child {
      order: 1;
    }
    .feature:nth-child(2n + 1) > div:last-child {
      order: 0;
    }
  }
}

.card {
  border: none;
  background-color: rgba(33, 37, 41, 0.06);
  border-radius: 12px 12px 12px 12px;

  .card-image {
    border-radius: 12px 12px 0 0;
  }

  .event-info {
    font-size: 1rem;
    opacity: 0.7;
  }

  .info-icon {
    height: 1rem;
    padding: 1px;
    margin-bottom: 3px;
  }
}

.home-jumbotron {
  background-size: cover;
  padding: 6em 10%;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  background-size: cover;
  overflow-x: hidden !important;

  width: 100vw;
  height: 34rem;

  @media screen and (max-width: 600px) {
    height: 35em;
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

.home-jumbotron.background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/dave-hoefler-UFnHt94r91w-unsplash.jpg);
}

/* Make Green Page Styles */

#make-green {
  .card-title {
    margin: 0;
    padding: 0.2em;
  }

}

/* Make Green Page Styles */

#be-green {
  .card p {
    color: black;
  }
}

/* Global Styles */
.subtitle {
  font-size: 1.75rem;
}

.icon {
  height: 5em;
}

body {
  @media (prefers-color-scheme: dark) {
    background-color: #272927;
  }
}

.section-green {
  background-color: #266b24;
  color: white;

  a {
    color: white;
  }

  .svg-icon,
  .info-icon {
    filter: invert(1);
  }
}

.section-gray {
  background-color: #f4f2ec;

  @media (prefers-color-scheme: dark) {
    background-color: #2e302e;
  }
}

.tags a {
  border: 1px solid #ddd;
  display: inline-block;
  color: black;
  font-size: small;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  margin: 0 3px 6px 0;
  padding: 5px 10px;
}

.tags a:hover {
  border-color: #08c;
}

html {
  overflow-x: hidden !important;
}

.app-logo {
  background: transparent !important;
}

.home-icon {
  font-size: 300%;
  color: black;
}

.feep-image-mobile {
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  .jumbo-card > h2,
  .jumbo-card > p {
    color: black !important;
  }

  .icon {
    color: white;
  }

  .svg-icon,
  .info-icon {
    filter: invert(1);
  }

  .card {
    img {
      border-radius: 12px 12px 0 0;
    }

    border: none;
    background-color: rgba(236, 239, 241, 0.06);
    border-radius: 12px 12px 12px 12px;
  }

  #be-green {
    .card p {
      filter: invert(1);
    }
  }
}

.handbook {
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .content {
    a {
      word-break: break-all;
    }
  }

  .sticky {
    position: sticky;
    top: 20px;
  }

  a {
    word-break: keep-all;
  }

  figure {
    text-align: center;
    max-width: 100wv;
  }

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
  }

  table th,
  table td {
    padding: 0.625em;
    text-align: center;
  }

  table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }

    table caption {
      font-size: 1.3em;
    }

    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }

    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
    }

    table td::before {
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }
}
